.chat-window {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-window-header {
    height: 60px;
    border-bottom: 1px solid #CCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-window-header-info {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.chat-window-header-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 15px;
}

.chat-window-header-name {
    font-size: 17px;
    color: #000;
}

.chat-window-header-buttons {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.chat-window-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.chat-window-body {
    flex: 1;
    overflow-y: auto;
    background-color: #E5DDD5;
    background-size: cover;
    background-position: center;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
}

.chat-window-footer {
    height: 62px;
    display: flex;
    align-items: center;
}

.chat-window-footer-left-buttons {
    display: flex;
    margin: 0px 15px;
}

.chat-window-footer-input-area {
    flex: 1;
}

.chat-window-footer-input {
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    background-color: #FFF;
    border-radius: 20px;
    font-size: 15px;
    color: #4A4A4A;
    padding-left: 15px;
}

.chat-window-footer-right-buttons {
    display: flex;
    margin: 0px 15px;
}